/*
 Theme Name:   [2018] Suntory Design & Consulting - Nuty Cosmetics - Child
 Description:  [2018] Suntory Design & Consulting - Nuty Cosmetics
 Author:       Suntory
 Author URI:   http://suntorymedia.com
 Template:     nuty-suntorydesign
 Version:      2.0.0
 Text Domain:  nuty-child
*/

/* Your customizations starts here */

@import url("css/ver2017.css");

.basel-price-filter {
    display: none;
}

@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/fa-light-300.eot");
  src: url("fonts/fa-light-300d41d.eot?#iefix") format("embedded-opentype"), url("fonts/fa-light-300.woff2") format("woff2"), url("fonts/fa-light-300.woff") format("woff"), url("fonts/fa-light-300.ttf") format("truetype"), url("fonts/fa-light-300.svg#fontawesome") format("svg"); }

.fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300; 
}

@font-face {
  font-family: 'helveticaneuelightitalic';
  src: url("fonts/helveticaneuelightitalic.ttf");
}


@font-face {
  font-family: 'Turbayne';
  src: url("fonts/Turbayne_0.ttf");
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.ttf?8pq1w');
	font-weight: normal;
	font-style: normal;
}

.basel-products-load-next:after {
    content: url("images/icon-right.png");
    zoom: 0.25;
}

.basel-products-load-prev:after{
    content: url("images/icon-left.png");
    zoom: 0.25;
}
.basel-products-load-next:after, .basel-products-load-prev:after {

    font-size: 22px;
    margin: 0 auto;
}
/*.owl-carousel .owl-nav>div:before {
    background: transparent !important;
    display: block;
   
    width: 40px;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    border-radius: 0% !important;
}
.owl-carousel .owl-nav .owl-next:before{
   content: url("/wp-content/themes/nuty-suntorydesign-child/images/icon-right.png");
   zoom: 0.25;
}

.owl-carousel .owl-nav .owl-prev:before{

   content: url("/wp-content/themes/nuty-suntorydesign-child/images/icon-left.png");
   zoom: 0.25;
}*/

.swatches-on-grid{
  display: none;
}

tr.order-total > th,tr.order-total > td .amount {
    color: red !important;
}

.content-readmore.close {
    height: 800px;
    overflow: hidden;
}



.page-title-default {
    background-color: #f1f1f1!important;
}


.product-label.out-of-stock {
    background-color: #000;
    padding: 3px 3px !important;
    text-transform: inherit;
    font-size: 11px !important;
}



/********************************************/
h3.home-title4 {
  position: relative;
  display: inline-block;
  background: url(../../uploads/2017/04/headline2.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 3%;
  margin: 0 auto;
}



.archive .title-shop {
  background-color: #212121 !important;
}

.mini-navi li {
  list-style: none;
  font-size: 11px;
  text-align: center;
  position: relative;
}

.mini-navi li a {
  display: block;
  color: #fff;
  padding: 12px 2px;
  -moz-transition: all 400ms ease 0s;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  -ms-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.mini-navi li .mini-navi-icon {
  max-width: 25px;
  margin-bottom: 5px;
}

.mini-navi li .mini-navi-title {
  display: block;
  font-weight: 400;
  line-height: 1;
}

.navi-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 18;
  width: 36px;
  background: #e6268c url(images/pattern.png) repeat;
}

.mobile-nav ul li.menu-item-has-children>a {
  padding-right: 43px;
}

.mobile-nav ul li a {
  color: #000;
  letter-spacing: 0px;
}

.navi-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 18;
  background: #ec268f url(images/pattern.png) repeat;
}

.mini-navi {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-top: 0;
  height: 52px
}

.mini-navi>li {
  display: table-cell;
  width: 20%;
  font-size: 10px
}

.mini-navi>li.hidden-mobile {
  display: none
}

.mini-navi>li.visible-mobile {
  display: table-cell
}

.mini-navi>li:hover .content-navi-fixed {
  display: none
}

.mini-navi>li.open .content-navi-fixed {
  display: block
}

.mini-navi>li a {
  padding-top: 6px;
  padding-bottom: 4px
}

.mini-navi>li a .mini-navi-title {
  white-space: nowrap
}

.mini-navi li .mini-navi-title {
  display: block;
  font-weight: 400;
  line-height: 1
}

.mini-navi li .mini-navi-icon {
  max-width: 25px;
  margin-bottom: 5px
}

.mini-navi li a {
  display: block;
  color: #fff;
  padding: 7px 2px;
  -moz-transition: all 400ms ease 0s;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  -ms-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s
}

.mini-navi li a {
  text-align: center;
}

.mini-navi li:hover a {
  background: rgba(255, 255, 255, .2);
  text-decoration: none;
  -moz-transition: all 400ms ease 0s;
  -webkit-transition: all 400ms ease 0s;
  -o-transition: all 400ms ease 0s;
  -ms-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.ztb-scb-wrapper>.zbx-trigger a i {
  color: transparent !important;
}

.ztb-scb-wrapper>.zbx-trigger a {
  background: transparent !important;
  color: transparent !important;
  box-shadow: none !important;
}

@media screen and (max-width:720px) {
  .ztb-scb-wrapper>.zbx-trigger:last-child {
    bottom: 0px !important;
  }
}

.wp-embedded-content {
  width: 100%;
}

i.fa.fa-facebook.icon-header-facebook {
  position: relative;
  border: 1px solid;
  color: #ed2190;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}

i.fa.fa-facebook.icon-header-facebook:hover {
  background: #ed2190;
  color: #fff;
}

.home .main-page-wrapper>div.container {
  width: auto;
  padding: 0;
  margin: 0;
}

.home .main-page-wrapper>div.container>div.row {
  padding: 0;
  margin: 0;
}

.home .main-header {
  margin-bottom: 0;
}

.home-slider .slide-item {
  width: 100%;
  height: 480px;
  display: block;
  background-position: center center !important;
}

.home-slider .owl-nav>div {
  opacity: 1;
}

.list-item {
  width: 40%;
  margin: 20px 0 20px 0;
}

.list-item .list-item-left,
.list-item .list-item-right {
  float: left;
}

.list-item-left {
  width: 17%;
  vertical-align: middle;
}

p.sun-gtmh-title,
p.sun-gtmh-desc {
  margin-bottom: 0;
  font-size: 13px;
}

.list-item .list-item-right {
  padding: 20px 0 0 0;
}


.suntory-home-blog {
  position: relative;
  padding: 1%;
}

.brand-mobile .item img {
  width: auto !important;
}

.brand-mobile .item {
  text-align: center;
  width: 33%;
  float: left;
  padding: 0px 20px;
}

.brand-mobile {
  display: none !important;
}

.brand-mobile .owl-nav>div.owl-next,
.brand-mobile:hover .owl-nav>div.owl-next {
  right: 0;
}

.brand-mobile .owl-nav>div.owl-prev,
.brand-mobile:hover .owl-nav>div.owl-prev {
  left: 0;
}

.center-menu ul.menu li a {
  color: #000;
}

.center-menu ul.menu li a:hover {
  text-decoration: none;
  color: #eb278d;
}


.suntory-footer-menu ul li a:hover {
  text-decoration: none;
  color: #eb278d;
}

.mobile-nav-icon {
  display: none !important;
}


a.nj-facebook-messenger {
  text-decoration: none !important;
  display: none;
}

.showroom-img img {
  width: 40%;
  float: left;
  margin-right: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px #965176;
}

.add-chinhanh-item {
  margin-bottom: 21px;
}

.add-chinhanh-item .cn-content {
  float: left;
}

.add-chinhanh-item .title {
  font-weight: bold;
}

.cn-content p {
  margin-bottom: 10px;
}

.sun-form input[type=submit] {
  background-color: #ec258e !important;
  color: #fff !important;
  border-color: #ec258e !important;
}

.mobile-nav .searchform {
  background: #ec258e !important;
}

body .mobile-nav .searchform input[type=text] {
  border: 1px solid rgb(255, 255, 255) !important;
 
}

.mobile-nav .searchform button:before {
  color: #fff !important;
  line-height: 40px !important;
}

.mobile-nav .searchform input[type=text]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff !important;
}

.mobile-nav .searchform input[type=text]::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}

.mobile-nav .searchform input[type=text]:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff !important;
}

.mobile-nav .searchform input[type=text]:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}



.main-nav .menu>li.item-event-click.item-menu-opened>.sub-menu-dropdown,
.main-nav .menu>li.item-event-hover:hover>.sub-menu-dropdown {
  /*box-shadow: 0px 2px 6px rgb(237, 33, 144) !important;*/
  border-right: 1px solid rgb(237, 33, 144);
  border-left: 1px solid rgb(237, 33, 144);
  border-bottom: 1px solid rgb(237, 33, 144);
}

.basel-navigation ul li a:hover {
  text-decoration: none;
  margin-left: 0 !important;
}

.brands_item_title {
  font-size: 22px;
  font-weight: 700;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ececec;
}

.brands_wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}

.brands_item a {
  display: block;
}

.col-lg-2.col-sm-2.item-brand-wrapper {
  min-height: 293px;
}

.no-img-logo a {
  color: #ee1b91;
  font-size: 14px;
  font-weight: bold;
}

.list_brand_aphabet {
  padding-top: 10px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}

.list_brand_aphabet a {
  display: inline-block;
  font-size: 22px;
  margin: 0 0px 10px 0;
  padding: 0 16px;
}



.brand-feature-nuty .item {
  text-align: center;
  width: 16.66%;
  float: left;
  padding: 0px 20px;
}

footer.footer-container>.row {
  width: 100%;
}

.suntory-sale-products .product-grid-item h3.product-title,
.basel-hover-alt .product-title,
.product-grid-item .product-title {}

.basel-hover-alt.purchasable .price {}

.box_description p {
  margin-bottom: 0;
}



.div-form-wrapper {
  padding: 10px 0 0 0;
  border: 1px solid #ee1b91;
  box-shadow: 0px 2px 6px #ddd;
}

input#register-event-button {
  background: #ed2190;
  color: #fff;
  border: 1px solid #ed2190;
  border-bottom: 3px solid #b10e67;
  border-radius: 5px;
}

.respone-ajax {
  text-align: center;
  margin: 10px 0 0 0;
}

.respone-ajax p {
  margin-bottom: 0;
  color: #ed2190;
  border: 1px solid;
  display: inline-block;
  padding: 2px 10px;
}

#register-event p {
  margin: 0;
}

/*********************************************************************************************
 *                                                                                           *         
 UPDATE VERSION CSS 3/4/2018                                                                 *
 *********************************************************************************************/

.sticky-header .header-categories{
    display: inline-block !important;
    vertical-align: middle;
    width: 15%;
    padding: 0;
        margin: 0 0 0 5%;
}
.sticky-header .suntory-sticky-search{
    width: 40%;
    display: inline-block !important;
        margin: 0 0 0 5%;
}

.sticky-header .main-nav ul.menu{
    display: none !important;
}

.sticky-header  .site-logo {
    width: 100% !important;
}

.sticky-header .site-logo .header-contact{
       display: inline-block !important;
    vertical-align: middle;
}

.header-categories .menu-opener{
      padding: 10px 0 10px 20px;
}

.sticky-header  .basel-logo-wrap{
    display: inline-block !important;
    vertical-align: middle;
}

.suntory-sticky-header-contact {
    margin: 0 0 0 15px;
}

.suntory-sticky-header-contact i.header-contact-icon {
    animation: unset;
}
.suntory-sticky-header-contact .header-contact-desc h3 {
    font-size: 20px !important;
        line-height: inherit !important;
}

.woocommerce-checkout .place-order button{
  background-color: #ed2190;
      border-color: #ed2190;
}

.brands_item_title {
    font-family: "helveticaneuelightitalic" !important;
    font-size: 80px;
    vertical-align: top;
    line-height: 80px;
    color: #D1D3D4;
    width: 80px;
    border: 0;
}
.brands_item a {
       font-size: 12px;
    color: #000;
    font-weight: bold;
    line-height: 1.5;}

button.view-more-brand:hover{
    border: 1px solid #ee1f93;
    background-color: #ee1f93;
}

button.view-more-brand{
    border: 1px solid #000;
    background-color: #000;
       padding: 0 10px;
      font-size: 11px;
      color: #fff;
      font-weight: bold;
      margin: 10px 0 0 0;
}


.item-brand-wrapper {
    margin: 0 0 25px 0;
    height: auto;
}
 .item-brand-wrapper > div {
    float: left;
    margin: 0 10px;
}
 .brand-feature-nuty .item {
    padding: 0px 10px;
    margin-bottom: 20px;
}
.brand-feature-nuty .item img {
    border: 1px solid #DDD;
    padding: 5%;
}
.brand-feature-nuty .item:hover a{
    border-color:#eb008b;
   
}

.brand-feature-nuty .item a {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    width: 100%;
    height: 100%;
    display: block;
}
.main-nav .menu>li.current-menu-item>a {
    color: #eb008b;
}
.single-post .entry-content a {
  color: #ed2190 !important;
}

.woocommerce-message {
  display: block;
}

.menu-item-register>a:before,
.menu-item-logout>a:before,
.menu-item-my-account>a:before {
  margin-right: 8px;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.menu-item-register>a:before {
  content: "\f10b";
  font-family: "woodmart-font";
}

.menu-item-logout>a:before {
  content: "\f10a";
  font-family: "woodmart-font";
}

.menu-item-my-account>a:before {
  content: "\f11e";
  font-family: "woodmart-font";
}

ul:not(.site-mobile-menu) .my-account-with-text>a:before {
  content: none;
}

.menu-item-register .login-dropdown-inner {
  padding: 25px;
  width: 350px;
}

.menu-item-my-account .sub-menu-dropdown {
  width: 165px;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-item-my-account .sub-menu li a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  line-height: 20px;
}

.menu-item-register:hover>.sub-menu-dropdown,
.menu-item-register.opened>.sub-menu-dropdown,
.menu-item-my-account:hover>.sub-menu-dropdown,
.menu-item-my-account.opened>.sub-menu-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.nuty-account .sub-menu-dropdown {
  top: 100%;
  right: -80px;
  transition: 0.2s 1s;
  /* delay of 1 seconds on hover off */
}

.nuty-account .sub-menu-dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-color: #fff;
  pointer-events: none;
  z-index: 380;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.nuty-account:hover .sub-menu-dropdown,
.nuty-account.opened .sub-menu-dropdown,
.nuty-account .sub-menu-dropdown.opened {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  transition: 0s;
}



.nuty-account i {
  font-size: 22px;
  vertical-align: middle;
}

.suntory-woo-menu-dropdown-account label {
  display: block;
  color: #000;
  font-weight: normal;
}

.suntory-woo-menu-dropdown-account a.create-account-link {
  font-weight: bold;
}

.suntory-woo-menu-dropdown-account a.woocommerce-LostPassword.lost_password {
  font-weight: bold;
}

.suntory-woo-menu-dropdown-account form {
  text-align: left;
}

.suntory-woo-menu-dropdown-account label.remember-me-label.inline {
  float: right;
  line-height: 17px;
}

.suntory-woo-menu-dropdown-account input#rememberme {
  display: inline-block;
  float: left;
}

.suntory-woo-menu-dropdown-account .input-text {
  width: 100%;
}

.suntory-woo-menu-dropdown-account input.woocommerce-Button.button {
  border-radius: 0;
  background: #da3637;
  color: #fff;
  width: 100%;
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
}

.badge span {
  padding: 0 4px !important;
  width: auto !important;
}

.facebook-login-button>span,
.google-login-button>span {
  color: #fff
}

.suntory-woo-menu-dropdown-account .facebook-login-button:hover,
.suntory-woo-menu-dropdown-account .google-login-button:hover {
  color: #fff !important;
}

.suntory-woo-menu-dropdown-account .facebook-login-button {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #3B5998;
  border-radius: 0;
  color: #fff !important;
  width: 100%;
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
}

.suntory-woo-menu-dropdown-account .google-login-button {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #ea4235;
  border-radius: 0;
  color: #fff !important;
  width: 100%;
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
}

.menu-item-register .login-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #2d2a2a;
  margin-bottom: 15px;
  padding-bottom: 2px;
  line-height: 1;
  border-bottom: 1px solid;
}

.menu-item-register .login-title span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.social-login-title {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-login-title:before {
  margin-right: 7px;
}

.social-login-title:after {
  margin-left: 7px;
}

.social-login-title:after,
.social-login-title:before {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  border-bottom: 1px solid;
  border-color: rgba(129, 129, 129, .2);
}

.page-head {
  z-index: -9;
}

.social-networks-page-login {
  width: 100%;
}

.social-networks-page-login>a {
  width: 48%;
  display: inline-block;
  margin-left: 5px;
}

.suntory-form-login .social-login-title {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.suntory-form-reg {
  margin-top: 10px !important;
}

.suntory-form-reg .register-or {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.suntory-form-reg .register-or:before {
  margin-right: 7px;
}

.suntory-form-reg .register-or:after {
  margin-left: 7px;
}

.suntory-form-reg .register-or:after,
.suntory-form-reg .register-or:before {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  border-bottom: 1px solid;
  border-color: rgba(129, 129, 129, .2);
}

.suntory-form-login label,
.suntory-form-reg label {
  display: block;
  color: #000;
  font-weight: bold;
}

.menu-item-register a.create-account-link {
  font-size: 14px;
  line-height: inherit;
  font-weight: 400;
}

.suntory-form-login a.create-account-link {
  font-weight: bold;
}

.suntory-form-login a.woocommerce-LostPassword.lost_password {
  font-weight: bold;
}

.suntory-form-login form {
  text-align: left;
}

.suntory-form-login label.remember-me-label.inline {
  float: right;
  line-height: 17px;
}

.suntory-form-login input#rememberme {
  display: inline-block;
  float: left;
}

.suntory-form-login .input-text {
  width: 100%;
}

.suntory-form-login input.woocommerce-Button.button,
body .suntory-form-reg .register-button {
  border-radius: 0 !important;
  background: #da3637;
  color: #fff;
  width: 100%;
  border: none !important;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
}

.login .close-login-form {
  display: none;
}

.close-login-form {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
  font-size: 0;
  color: #000;
  transition: background-color .25s ease;
  -webkit-transition: background-color .25s ease;
}

.close-login-form span:before {
  content: '\f00d';
  font-family: "FontAwesome";
  font-size: 18px;
}


.mobile-nav .nuty-account i {
  font-size: 35px;
  vertical-align: middle;
  margin-left: 15px;
  color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.social-login-btn .facebook-login-button {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #3B5998;
  border-radius: 0;
  color: #fff !important;
  width: 100%;
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
}

.social-login-btn .google-login-button {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  display: block;
  background-color: #ea4235;
  border-radius: 0;
  color: #fff !important;
  width: 100%;
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  -webkit-transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease;
  transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow 0s ease, opacity .25s ease, -webkit-box-shadow 0s ease;
}

.header-mobile-search {
  background-color: #ec268f;
  padding: 7px 7px;
}

.header-mobile-search input[type="text"] {
  border-radius: 3px;
}

ul.home-tab-header-wrap li {
  display: inline-block;
  width: 49%;
  padding: 15px 0;
  text-align: center;
}

ul.home-tab-header-wrap li.active {
  border-bottom: 2px solid #ec268f;
  color: #ec268f;
}

ul.home-tab-header-wrap {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

ul.call-support {
  display: table;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  width: 100%;
}

ul.call-support li {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}

ul.call-support li a {
  padding: 14px 0;
  display: block;
}

ul.call-support li p {
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 0;
}

ul.call-support li h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ec268f;
  margin-bottom: 0;
}

ul.call-support li:first-child,
.menu-footer li:first-child {
  border-right: 1px solid #ebebeb;
}

footer.mobile-footer {
  margin-bottom: 55px;
}

ul.menu-footer {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

ul.menu-footer li {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}

ul.menu-footer li a {
  display: block;
  font-size: 13px;
  color: #4990e2;
  padding: 14px 0;
}

ul.call-support li h3 i {
  font-size: 22px;
}

.nuty-tab-product-cat .list-cat-wrapper {
  display: table;
  width: 100%;
}

.nuty-tab-product-cat .list-cat-wrapper .cat-item-wrap {
  display: block;
  float: left;
  vertical-align: middle;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 15px 0 15px 0;
}

.sticky-scroll-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sticky-scroll-box.fixed {
  position: fixed;
  top: 0;
  z-index: 99999;
}

.mobile_nav_bottom {
  
    padding-top: 15px;
    display: block;
    width: 100%;
    
}
.mobile_nav_bottom ul li a {
    margin: 0 !important;
    padding: 10px 15px;
}
.nuty-account.nologin i {
    color: #fff;
    margin-right: 10px;
}
.mobile_nav_bottom ul li i {
    color: #ee3b9a;
    width: 25px;
    height: 25px;
    border: 1px solid;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}

.popup-quick-shop {
    position: fixed;
    top: 0;
    z-index: 9;
    padding: 50px 15px;
  
    width: 100%;
    height: 100%;
}
.popup-quick-shop-body{
    overflow-y: hidden;
}

.popup-quick-shop .quick-shop-close {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px 10px;
    color: #fff;
    background: #000;
    z-index: 1;
}

.popup-quick-shop .container{
    background: #fff;
    position: relative;
    top: 40%;
    padding: 20px;
        padding: 40px 15px 15px 15px;
}
.popup-quick-shop table{
    margin:0;
}
.variations_form .variations label:after{
    display: none;
}
.popup-quick-shop .mask{
    position: absolute;
    background: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
}
.popup-quick-shop .swatches-select ,.popup-quick-shop .quick-buy-button,.popup-quick-shop a.added_to_cart.wc-forward,.popup-quick-shop  .action_popup_swatch{
    display: none !important;
}
.popup-quick-shop  .suntory_single_product_button_wrapper {
    display: table;
    width: 100%;
    text-align: center;
}
.popup-quick-shop .variations_form .variations td {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;
}
.popup-quick-shop button.single_add_to_cart_button.button.alt {
    width: 70% !important;
    font-size: 14px !important;
    height: auto !important;
    padding: 10px 20px !important;
    color: #fff;
}
.popup-quick-shop div.quantity{
  width: 24%;
}
.popup-quick-shop .variations_form .variations label{
    margin:0;
}
.popup-quick-shop .reset_variations {
    height: 0;
    display: none;
}
.popup-quick-shop .variations_form .variations .value select{
    max-width: unset !important;
}
.popup-quick-shop > .container {
    max-width: 480px;
}
.popup-quick-shop > .container {
    max-width: 420px;
}
.popup-quick-shop .variations_form .variations td {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    border: 0;
}



.sticky-header.act-scroll {
    background: #fde6e8;
}
.navigation-wrap {
    background-color: #eb008b;
}
.main-nav .menu > li > a {
    color: #fff;
}
.main-nav .menu>li:hover {
    background: #000;
}
.main-nav .menu>li:hover > a,.main-nav .menu>li > a:hover{    
    color: #fff !important;
}

.right-column .shopping-cart {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 0 20px;
}

.right-column .shopping-cart  > a{
  position: relative;
}
.nuty-account .inner a > i {
    color: #EB008B;
}
.shopping-cart .counter_number {
    left: 58px;
    bottom: 0 !important;
}
.shopping-cart .cart-desc {
       display: inline-block;
    float: right;
    text-align: left;
    vertical-align: bottom;
    text-transform: none;
    padding-left: 7px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}
.shopping-cart .cart-desc>span {
  text-align: left;
  font-size: 13px;
  line-height: 11px;
  font-weight: 300 !important;
  letter-spacing: 0;
  display: block;
}
.shopping-cart  i.cart-button-icon:before {
  font-family: "icomoon";
  content: "\e900";
  font-size: 30px;
      line-height: 23px;
}
.icon-pencil:before {
	content: "\e600";
}
.icon-paint-format:before {
	content: "\e601";
}
.header-contact-icon:before {
    font-family: "icomoon";
    content: "\e600";
    font-size: 30px;
    color: #eb008b;
    line-height: 25px !important;
}
.header-contact .header-contact-desc {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
  padding-left: 10px;
}
.right-column > div {
    height: 30px !important;
    vertical-align: initial !important;
    
}
.right-column  div, .right-column  span, .right-column  a{
    color: #000 !important;
    
}
.header-contact .header-contact-desc span {
  font-size: 14px;
  letter-spacing: 0;
}

.nuty-account small a {
  display: block;
  font-size: 13px !important;
  letter-spacing: 0 !important;
}

.nuty-account small {
  display: block;
  font-size: 13px !important;
  letter-spacing: 0 !important;
}


.header-contact .header-contact-desc h3 {
    color: #eb008b !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 600;
}

.suntory-search-wrapper button[type=submit] {
  display: inline-block;
  position: relative;
  border: 1px solid #eb008b;
  background: #eb008b;
  height: 40px;
  line-height: 24px;
  font-size: 0;
  color: transparent;
  margin-left: -4px;
  width: auto;
  padding: 0 25px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.suntory-search-wrapper button[type=submit]:before{
    font-family: 'Font Awesome 5 Pro';
    content: "\f002" !important;
    color: #fff;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.suntory-search-wrapper input[type=text]{
    background: transparent;
    position: relative;
    border: 1px solid #808183;
    height: 40px;
    line-height: 27px;
    font-size: 12px;
    color: #f16ea2;
    width: 355px;
    padding: 0 10px;
    border-top-left-radius: 5px;
    float: left;
    display: table-cell;
}
.suntory-search-wrapper button[type=submit] {
    display: table-cell;
    position: relative;
    float: left;
}
.suntory-search-wrapper > form > div{
    position: relative;
    display: table;
}

.spkm-item a {
    color: #000 !important;
    font-weight: bold !important;
}
.menu-label-hot {
    background-color: #EF7C0A;
}
.menu-label-hot:after {
  color: #EF7C0A;
}

.suntory-sale-products {
    background: #fff url(images/background-04-W.png) !important;
    background-size: 100%;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}
.suntory-recent-products:after {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fcebf3 url(images/mask-top-2.png);
    background-repeat: repeat-x !important;
}
.suntory-recent-products:before {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcebf3 url(images/mask-top-1.png);
    background-repeat: repeat-x !important;
}

.suntory-recent-products {
      position: relative;
    background: #fcebf3 !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

.suntory-sale-products {
  padding-top: 2%;
  padding-bottom: 0%;
  margin-bottom: 0;
  
}
.suntory-recent-products {
    margin-top: 0;
    padding: 80px 0 50px 0;
}
.suntory-recent-products .product-grid-item > div, .suntory-recent-products .product-grid-item > h3 {
    background: #fff;
    padding: 0 10px 15px 10px;
    margin: 0 !important;
}

.suntory-recent-products .product-grid-item{
  padding-left: 5px;
  padding-right: 5px
}
.suntory-recent-products .product-grid-item img {
    max-width: 165px;
    margin: auto !important;
        display: block;
}

.basel-hover-alt.purchasable .price {
    height: 35px;
}

.basel-hover-alt.product-type-external .wrapp-swap, .basel-hover-alt.product-type-grouped .wrapp-swap, .basel-hover-alt.purchasable .wrapp-swap {
    overflow: hidden;
    height: 35px;
}
h3.home-title2, h3.home-title2 > a {
    font-family: "Turbayne" !important;
    font-size: 40px;
}

 h3.home-title2 > a:hover{
  text-decoration: none;
 }

.suntory-post-slide .entry-thumbnail{
  margin-bottom: 0 !important;
}
.suntory-post-slide {
    border: 1px solid #ddd;
}
.suntory-post-slide  a.button-readmore {
    display: block;
    background: #231F20;
    color: #fff;
    margin: 15px auto -15px auto;
    width: 100px;
    padding: 4px 10px;
   
    font-size: 11px;
}
.suntory-post-slide  a.button-readmore:hover{
  background: #eb278d;
}
.suntory-post-slide h1{
  margin:10px auto;
  padding: 0 5px
}
.suntory-post-slide h1 a {
    font-size: 13px;
   
}

.suntory-post-slide .meta-post-categories{
    position: absolute !important;
    left: 0;
    top: 10px;
}
.testimonials-section{
  background: url('images/background-review-yk.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.testimonials-section {
    background: url(images/background-review-yk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 80px 0;
    padding: 35px 0;
}
.testimonial .testimonial-avatar img{
  border: 5px solid #F6F6F6;
}
.testimonial-content ,.testimonial-content p{
 
  position: relative;
  max-width: 700px;
    margin: 0 auto;
}
.testimonial-content:before{
  width: 70px;
  height: 50px;
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  top:0;
  background:url('images/quote.png');
  background-size: 100%;
    background-repeat: no-repeat;
}

.testimonials-wrapper {
  margin-top: 0%;
}
.owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 15px;
    height: 15px;
    margin: 5px 7px;
   
    border-radius: 20px;
   
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
  border-color:#EB2A8E;
  background-color:#EB2A8E;
}
.cn-item-wrapper{

    margin: 0 auto;
    text-align: center;
}

.cn-item-wrapper .chinhanh-item {
    width: 100% !important;
    display: block;
    background: #fff;
  
}
.cn-address-slide{   
    padding:20px 0;
}
.cn-address-slide i {
    font-size: 20px;
    border: 1px solid;
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin: 0 0 10px 0;
    border-radius: 50%;
}
.chinhanh-item a:focus{
   color: #eb278d;
}
.cn-address-slide .cn-title {
    color: #eb278d;
    font-family: 'Arial';
}
.cn-address-slide p{
  color: #000 !important;
  margin-bottom: 0 !important
}
.chinhanh-item a:hover{
  text-decoration: none;
}

.cn-item-wrapper .chinhanh-item:hover{
  background: #F1F2F2;
}
.cn-item-wrapper .chinhanh-item:hover .cn-address-slide i {
  color: #fff;
  background-color:  #eb278d;
}
.slick-slider > button {
    position: absolute;
    top: 50%;
    background: transparent;
    font-size: 0;
    border:0;
}
.slick-slider > button.slick-prev {
    left: -80px;
}
.slick-slider > button.slick-next {
    right: -80px;
}
.slick-slider > button:hover,.slick-slider > button:focus{
  background: none;
  color: #000;
}
.slick-slider > button:before {
    display: block;
    font-family: 'simple-line-icons';
    font-size: 22px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
    background: #ddd;
}
.slick-slider > button.slick-prev:before{
    content: "\e605";
}
.slick-slider > button.slick-next:before{
    content: "\e606";
}
.feature-box-inner {
    background-color: #ed2190;
    text-align: center;
        background-color: #ed2190;
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.col-sm-4.feature-box {
    display: table;
}
.gtmh-nuty-section .feature-box .feature-box-icon {
    width: 20%;
    margin: 10px auto;
}
.col-sm-4.feature-box  p.sun-gtmh-title {
    color: #fff;
    font-family: 'Arial';
}
.col-sm-4.feature-box p.sun-gtmh-title strong{
  font-weight: bold;
}
.feature-box .feature-box-icon {
    margin: 0 auto;
}
p.sun-gtmh-title, p.sun-gtmh-desc{
   color: #fff;
    font-family: 'Arial';
}

p.foo-title {
    color: #000;
    text-align: left;
     font-family: 'Arial';
}
footer p{
    font-family: 'Arial';
}
.col-lg-5.intro-nuty p {
    padding: 0 15px 0 0;
}
p.foo-title:after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    margin: 2px 0 0 0;
    background: #ddd;
}
ul.foo-info li {
    color: #A7A9AC;
    margin: 0 0 10px 0;
    font-family: 'Arial';
}
ul.foo-info phone, ul.foo-info a{
    color: #ed2190;
    font-weight: bold;
    font-family: 'Arial';
}
ul.foo-info li strong {
  font-weight: bold;
  font-family: 'Arial';
  color: #000 !important;
}
.row.center-menu {
    margin: 15px 0 15px 0;
}
.row.center-menu a{
  font-family: 'Arial';
}
.center-menu ul.menu li{
      border-right: 1px solid #ddd !important;
}
.center-menu ul.menu li:last-child{
   border-right: 0 !important;
}
.col-sm-4.feature-box hr {
    margin: 15px auto;
    border-color: #fff !important;
}
.social-bar a {
    width: 45px;
    height: 45px;
    background: #EB2A8E !important;
    font-size: 21px;
    line-height: 46px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff !important;
    text-align: center;
}

.top-footer-wrap {
  background-size: cover;
  background-position: center top;
  background-image: url(images/background-footer-04.png);
  padding: 0 0 25px 0;
}
.suntory-sendgrid-custom{

}
.sendgrid_mc_label_div {
    display: none;
}
.widget.widget_sendgrid_nlvx_widget p {
    color: #000;
    margin: 0;
}
form#sendgrid_mc_email_form {
    padding: 0;
    margin: 0 0 10px 0;
    display: inline-block;
}
.sendgrid_mc_fields, .sendgrid_mc_button_div {
    display: table-cell;
}
.sendgrid_mc_fields {
    width: 70%;
}
input#sendgrid_mc_email_submit {
    color: #fff;
    background: #ed2190;
     font-family: 'Arial';
    font-weight: bold; 
}
.copyrights-wrapper {
    margin-top: 0px;
    background: #fcebf3;
    color: #fff;
      font-family: 'Arial';
}

.single-product .navi-fixed{
  display: none;
}
.basel-swatch  .tooltip-item{
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s;
        font-size: 12px;
}
.basel-swatch.active-swatch   .tooltip-item{
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 1;
    visibility: visible;
}
.basel-swatch  .tooltip-item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.single-product-content .product-images.col-sm-6 .thumbs-position-left .slick-slide {
    padding-bottom: 8px;
    margin: 0 0 8px 0;
    border: 1px solid #ddd;
}
.product-design-alt .product-tabs-wrapper{
  background: #fff;
}
.tabs-layout-tabs .tabs {
    margin-top: -40px;
    margin-bottom: 30px;
    text-align: left;
        border-bottom: 1px solid #ddd;
}
.product-tabs-wrapper {
    border: 1px solid #ddd;
}
.woodmart-tab-wrapper {
    padding: 0 15px;
}
.tabs-layout-tabs .tabs li {
    border-right: 1px solid #ddd;
    margin: 0;
    padding: 0;
    float: left;
}
.tabs-layout-tabs .tabs li a {
    padding: 12px 20px 10px 20px;
    font-size: 15px !important;
    color: #000;
    font-weight: normal;
}
.tabs-layout-tabs .tabs li.active {
    background: #337137;
    color: #fff;
}
.single-product-content .tabs li.active {
    border-color: #eb278d;
}
.tabs-layout-tabs .tabs li.active {
    background: #eb278d;
    color: #fff;
}
.single-product-content .tabs li.active a {
    color: #fff;
}
.basel-tab-wrapper {
    padding: 0px 15px 0 15px !important;
}
.additional_product_meta table tr td, .additional_product_meta table tr th {
    padding: 10px 0 !important;
    text-align: left !important;
    width: 30%;
}
.product_meta table.shop_attributes tr td,.product_meta table.shop_attributes  tr th {
    padding: 10px 2px !important;
    text-align: left !important;
    font-size: 12px;
}
.product_meta table.shop_attributes tr th {
    width: 15%;
}

.product_meta table.shop_attributes,.additional_product_meta table.shop_attributes{
  margin-bottom: 0 !important;
}

.product_meta > table tr:last-child td {
   
}
.single-product-content .product_meta{
   padding: 5px;
}
.product_meta table tr td {
    text-align: left;
    font-size: 12px;
    padding: 10px 2px;
}
.product_meta table{
     margin-bottom: 5px !important;
}
    
.additional_product_meta table {
  margin-bottom: 5px !important;
}

.single-product-content #comments {
    width: auto;
    padding: 0;
    float: none;
}
.single-product-content #review_form_wrapper {
    float: none;
    width: auto;
    border-left: 0;
    border-bottom: 0;
    padding: 0;
    padding-bottom: 1px;
    padding-left: 0;
}
.single-product-content .variations .swatches-select>div {
    margin-bottom: 0;
}

.single-product-content .entry-title {
    font-weight: bold;
}
.single-product-content p.price {
    text-align: left;
    margin-bottom: 5px;
    padding: 0 0 0px 0;
}
.single-product-content form.cart {
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    padding: 15px 0 !important;
    margin: 5px 0 !important;
}
.single-product-content .variations td{
  padding-bottom: 5px;
}
.single-product-content .variations .swatches-select .swatch-size-default {
    font-size: 0;
    width: 35px;
    height: 35px;
    /* border-bottom: none; */
    border-radius: 50%;
    background-size: cover;
    border: 1px solid #fff;
    padding: 2px;
    margin: 0 10px 0 0;
}
.single-product-content .variations .swatches-select .active-swatch{
    border: 1px solid #eb278d;
}

.single-product-content .variations .swatches-select .active-swatch:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}
.icon_description_text > p {
    color: #000;
}
.benifit-icon .icon_description_text p.sun-gtmh-title{
   font-family: 'Arial';
}
.single-product-content .entry-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.widget_product_categories h5.widget-title {
    background: #eb278d;
    margin: -1px 0px 0px 0px;
    color: #fff;
    letter-spacing: 0;
    padding: 10px 0 10px 10px;
}
.sidebar-widget {
    margin-bottom: 25px;
    padding: 5px 3px;
}
.sidebar-widget .widget-title, .sidebar-widget .widgettitle {
    margin: -8px -5px 15px -5px !important;
    padding: 10px 15px !important;
}
.single-product .widget_product_categories > ul>li > a {
	border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
        padding: 15px 0px 15px 5px;
}
.single-product .widget_product_categories > ul > li.current-cat-parent > a {
	background: #ddd;
    width: 100%;
    display: block;
    padding: 10px 0px 10px 5px;
}
.single-product .widget_product_categories ul>li{
	margin-bottom: 0 !important;
}
.single-product .widget_product_categories .basel-cats-toggle{
	    top: 10px;
}
.single-product .widget_product_categories{
	padding: 0 !important
}

.additional_product_meta > span {
    display: block;
    margin: 15px 0 0 0;
}

.single_add_to_cart_button {
    background-color: #EB278D !important;
    border-color: #EB278D !important;
    border-radius: 0 !important;
    font-weight: bold;
}
.single-product-content .cart .quantity {
    margin-right: 0px;
}

.quick-buy-button {
    display: inline-block;
    padding: 4px 0;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #EF0A0A;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: #EF0A0A;
    float: none;
    margin-left: 0%;
}
.call-order {
    margin: 0;
    padding: 10px 0 15px 0;
        text-align: left;
}
.call-order strong a {
    font-weight: bold;
    color: #eb278d;
    border: none !important;
}

.call-order p {
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 0;
}
.product-retaled-pirce .thumb-wrapper {
    width: 40%;
}
.product-retaled-pirce .product-info{
    width: 60%
}
.product-retaled-pirce .product-subtitle .text1 {
    display: block;
}

.product-retaled-pirce .product-subtitle  span.text2 {
    color: #ee1b91;
    font-weight: bold;
    font-size: 16px;
}
.product-retaled-pirce .product-subtitle span {
    line-height: 20px;
}
.product-retaled-pirce .product-title {
    font-size: 15px;
    margin: 0 0 5px 0;
}
.product-retaled-pirce p.price > span {
    font-size: 20px;
    font-weight: normal;
}
.product-retaled-pirce .product-subtitle {
    border-bottom: 1px solid #ddd;
    padding: 0 0 5px 0;
    margin: 0 0 7px 0;
}
.product-retaled-pirce-wrapper {
    border-top: 1px solid #ddd;
    padding: 25px 0 0 0;
}

.product-related-price-wrapper.clearfix {
    border-top: 1px solid #ddd;
    padding: 25px 0 0 0;
    margin: 25px 0 0 0;
}


.post-related-wrap{
    margin: 0 0 30px 0;
}
.vertical-slider-post-related {
    height: 330px;
    overflow-y: scroll;
    padding: 0 10px 0 0;
}
.item-post-loop > div {
    display: table-cell;
    vertical-align: top; 
}
.item-post-loop {
    display: table;
    height: 85px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 0;
}
.item-post-loop .post-thumb {
    width: 25%;
}
.item-post-loop .post-info {
    padding: 0 0 0 10px;
}

.item-post-loop span.post-desc {
    display: block;
    font-size: 11px;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
}
.item-post-loop span.post-title {
    font-size: 14px;
    display: block;
    font-weight: bold;
    line-height: 18px;
    color: #313131;
    height: 35px;
    overflow: hidden;
    margin-bottom: 5px;
}
.item-post-loop span.post-title a:hover{
  text-decoration: none;
}

.vertical-slider-post-related::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.vertical-slider-post-related::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.vertical-slider-post-related::-webkit-scrollbar-thumb {
    background: #EB008B; 
    width: 10px !important;
    height: 10px !important
}

.archive-title-wrapper h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.woocommerce-page .suntory-sidebar-container .widgettitle {
    background: #EB008B;
    color: #fff;
    padding: 7px 0 7px 10px;
        margin: 0 -5px 10px -5px;
}

.woocommerce-page .suntory-sidebar-container .widget  {
    border: 1px solid #ddd;
        padding: 0 5px 5px 5px !important;
    margin: 0 0 30px 0;
}
.suntory_woo_breadcrumb {
    margin-top: -40px;
    margin-bottom: 40px;
    padding: 20px 0;
    background: #f1f1f1;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.suntory-sidebar-container .widget_product_categories > ul>li{
  margin: 0 !important;
}

.suntory-sidebar-container .widget_product_categories > ul>li > a {
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    padding: 15px 0px 15px 5px;
}

.suntory-sidebar-container .widget_product_categories h2.widgettitle {
    margin-bottom: 0;
}

.suntory-sidebar-container .widget_product_categories > ul>li:last-child > a{
  border:none !important;
}

.archive-title-wrapper {
    margin-bottom: 45px;
}

.archive_description_wrappper.readmore-content .term-description {
    height: 300px;
    overflow: hidden;
    margin: 0 0 20px 0;
}
button.readmore-achrive {
    margin: 0 auto;
    display: block;
    position: relative;
}
button.close-achrive {
    margin: 0 auto;
    display: block;
}
.showmore.mask:before {
    margin-top: -35px;
    content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.4,#fff),to(rgba(255,255,255,0)));
    display: block;
    height: 40px;
}
button.readmore-achrive:before {
    content: "";
    position: absolute;
    top: -90%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #eb008b;
    border-bottom: 2px solid #eb008b;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}
button.readmore-achrive, button.close-achrive {
    background: transparent;
    border-color: #eb008b;
    color: #eb008b;
    font-weight: bold;
}
button.readmore-achrive:hover, button.close-achrive:hover,button.readmore-achrive:focus, button.close-achrive:focus{
  background: #eb008b;
  color:  #fff !important;
  border-color: #eb008b;
}

.basel-cats-toggle {
    top: 10px !important;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

span.out-of-stock-label {
    color: #fff;
    background: #000;
    padding: 6px;
    font-size: 11px;
}

.mobile-nav .autocomplete-suggestions {
    background-color: #fff;
}
.mobile-nav .autocomplete-suggestions .suggestion-price{
    padding-left: 80px;
}
.mobile-nav .autocomplete-suggestions .suggestion-title {
    color: #000;
    height: 27px;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
}
.mobile-nav .autocomplete-suggestions .amount {
    color: #ec268f;
}
.mobile_nav_bottom {
    display: block;
    width: 100%;
    box-shadow: -4px -2px 6px rgba(238, 59, 154, 0.3);
    margin: 0 0 0 1px;
}
.mobile-nav{
  overflow-y: visible;
}
.swatches-on-grid {
    text-align: center;
}
.products-footer.show-arrow .basel-products-load-next, .products-footer.show-arrow .basel-products-load-prev {
    box-shadow: unset;
    background: transparent;
    border-radius: 50%;
    text-align: center;
}

.home-slider .owl-nav>div:before {
    width: 65px !important;
    height: 65px !important;
    line-height: 65px;
    background: rgba(0, 0, 0, 0.2);
}
.title-blog h3.entry-title {
    display: none;
}
.title-blog {
    background: #F7F7F7 !important;
}
.blog-post-loop .post-img-wrapp {
    max-height: 200px;
}
.blog-post-loop {
    margin-bottom: 35px;
    position: relative;
}
.blog-design-small-images .entry-title {
    font-size: 16px;
  }
  .product_list_widget li .star-rating{
    margin-bottom: 0 !important;
  }

.suntory-single-product-countdown {
    color: #ef0a0a;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.suntory-single-product-countdown-wrapper{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.deal-status-single-product{
    padding: 5px 7px;
}
.deal-status-single-product .process-bar-single-product {
    height: 4px;
    display: block;
    width: 100%;
    background: #e0e0e0;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1px;
    width: 50%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: middle;
}
.deal-status-single-product .process-bar-single-product div {
    background: #f05a3c;
    height: 100%;
    border-radius: 4px;
}
.product-image-summary .summary-inner>.price, .product-image-summary .woodmart-scroll-content>.price {
    margin-bottom: 1px;
      
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}
.deal-status-single-product {
  padding: 12px 7px;
  text-align: left;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 2px 6px #f1f1f1;
  margin: 10px 0 10px 0;
}

.quick-buy-button:hover{
  color: #fff;
}

.process-bar-single-product-wrap > span {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    color: #f05a3c;
    font-weight: bold;
}  
span.label-deal {
    font-size: 12px;
    background: #e09014;
    color: #fff;
    padding: 5px;
}


.suntory-product-countdown {
    color: #f05a3c;
    display: inline-block;
    font-size: 11px;
}
.suntory-product-countdown-wrapper{
    display: inline-block;
    font-size: 11px;
}
.deal-status{
    padding: 5px 7px;
    margin: -5px auto;
}
.deal-status .process-bar {
    height: 4px;
    display: block;
    width: 100%;
    background: #e0e0e0;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1px;
}
.deal-status .process-bar div {
    background: #f05a3c;
    height: 100%;
    border-radius: 4px;
}
.suntory-product-countdown-wrapper > span{
    display: inline-block;
    margin-right: 1px;
}
.basel-timer{
    display:inline-block;
    font-size:0;
    line-height:1
}
.basel-timer>span {
        display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-block !important;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    padding: 0;
    margin: 0;
    min-width: unset;
    min-height: unset;
    font-size: 11px;
    line-height: 4px;
    background-color: #fff;
   color: #f05a3c;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.basel-timer>span span{
    font-size: 0;
    display: inline-block;
    margin: 0 1px 0 -2px;
    color: #f05a3c;
}

.basel-timer>span.countdown-hours>span:before,.basel-timer>span.countdown-min>span:before{
    font-size: 11px;
    content: ":";
    display: inline-block;
    font-weight: bold;
     color: #f05a3c;
}
.basel-timer>span:first-child span {
    display: inline-block;
    font-size: 11px;
    text-transform: unset;
     color: #f05a3c;
}
body .basel-hover-alt .btn-add>a {
    color: #231f20;
}
.single-product-content-inner.readmore-content {
    height: 400px;
    overflow: hidden;
}
.content.single-product-content-wrapper > button {
    margin: 20px auto;
}


.offcanvas-sidebar-mobile .basel-sticky-sidebar-opener{
  display: none;
}


.main-header .right-column {
    padding-left: 0;
}

.suntory-recent-products .owl-carousel-item-inner {
    padding: 0;
}


.search-extended .searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    border: none;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    text-align: center;
    color: #777;
    margin: 0;
}

.search-extended .searchsubmit:after {
    content: "\e090";
    font-size: 18px;
    font-weight: 700;
    font-family: simple-line-icons;
    display: inline-block;
    line-height: 40px;
}

button#notify-when-available {
    background: #ec268f;
    color: #fff;
}

.sticky-header .suntory-sticky-search .suggestion-thumb img{
  max-width: unset !important;
      width: auto !important;
}


.cat-item-search {
    padding: 2px 15px;
    color: #000;
}

.cat-item-search a {
    color: #ed1c24;
    font-weight: bold;
}

.woodmart-search-form div#matches .search-wrapper {
    border-bottom: 1px solid #c5c5c5;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
}

.mobile-nav .woodmart-search-form div#matches{
  position: relative;
  box-shadow: unset;
  border-bottom: 1px solid #ddd;
      max-height: 350px;
}
.mobile-nav .woodmart-search-form div#matches::-webkit-scrollbar { 
  width: 0 !important
}
.mobile-nav .woodmart-search-form div#matches { 
  overflow: -moz-scrollbars-none;  
  -ms-overflow-style: none; 
}

.mobile-nav .woodmart-search-form > form {
    background: #e0202d;
    border: 0;
        padding: 10px 10px;
}
.mobile-nav .searchform input[type=text]{
  padding: 5px 10px !important;
  background: #fff;
  height: 50px;
      border-radius: 5px;
}

.res-related-product .product-grid-item .product-element-top{
   max-height: unset;
   height: auto;
}
.woodmart-search-form {
  position: relative;
}

.woodmart-search-form div#matches {
    position: absolute;
    max-height: 300px;
    z-index: 9999;
    width: 100%;
    background: #fff;
    overflow-y:scroll;
    box-shadow: 0px 2px 6px;
        text-align: left;

}
.woodmart-search-form div#matches .autocomplete-suggestion {
    border-right: 0;
    padding: 0;
    position: relative!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5px 0 10px;
    padding: 5px 15px 10px;
   
}

.woodmart-search-form div#matches h4.suggestion-title.result-title {
    font-size: 13px;
    margin: 0 0 5px 0;
}

.woodmart-search-form div#matches .amount {
    color: #ec268f;
}

.woodmart-search-form div#matches .autocomplete-suggestion > div:nth-child(2){
  width: 75%;
}

.woodmart-search-form div#matches .autocomplete-suggestion .suggestion-thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.main-nav .menu > li.current-menu-item > a{
  color: #fff !important;
}


/************************************************************************************************/
/************RESPONSIVE*************************************************************************/
@media (min-width: 992px) and (max-width: 1200px){
	.suntory-search-wrapper input[type=text]{
		width: 200px !important;
	}
	.main-header .right-column {
	    width: 45% !important;
	}
	.right-column>div{
		float: left;
	}
	.nuty-account{
		padding-left: 0 !important
	}
}

@media (max-width: 1024px){
  .scrollToTop {
      bottom: 100px !important;
      right: 12px;
  }
}

@media (max-width:1080px){
	body .widgetarea-head,body .nuty-account{
		display: none !important;
	}

}

@media (max-width:992px) {
	.shopping-cart .cart-desc{
		display: none;
	}
	.main-header .site-logo {
    width: 66%;
}
	.act-scroll .site-logo > div {
      display: inline-block !important;
      width: 50% !important;
      float: left;
          min-height: 60px;
    line-height: 60px;
  }
  .product-related-price-wrapper.clearfix{
    border: 0 !important;
    margin: 0;
  }
  .col-sm-6.product-retaled-pirce.clearfix {
      margin: 15px 0 15px 0;
  }
  .product-retaled-pirce .product-title {
    font-size: 12px;
  }
  .product-retaled-pirce .product-info{
    border: 0
  }

  .single-product-content #comments{
    padding: 0;
  }
  h2.woocommerce-Reviews-title {
    display: none;
}
  .single-product-content .product-image-summary{
    margin-bottom: 0;
  }
  .woocommerce-product-gallery__wrapper .owl-item img {
      width: 70% !important;
      margin: 0 auto !important;
      display: block !important;
  }
  .single-product-content .thumbnails img {
    border: 1px solid #ddd !important;
    padding: 5%;
}
  .brand-title strong {
    font-size: 14px !important;
        padding: 0 15px;
}
  .brand-title img{
    margin-bottom: 5px;
  }
  .item-brand-wrapper{
    height: 80px;
  }
  .basel-hover-alt.purchasable .price{
    height: auto !important;
  }
  .suntory-single-product-countdown,.suntory-single-product-countdown-wrapper,.process-bar-single-product-wrap > span{
    font-size: 12px;
  }
  .deal-status-single-product{
    margin:10px  0 !important;
  }
  .woocommerce-product-details__short-description p {
      text-align: left;
      margin: 0;
      padding: 0 10px;
      font-size: 13px;
  }
  h3.home-title2{
    font-size: 30px;
  }
  .popup-quick-shop div.quantity{
    margin-left: 5px;
  }
  .single-breadcrumbs-wrapper{
    display: none;
  }
  .testimonial .testimonial-avatar img {
    width: 100px !important;
  }
  .testimonial-content, .testimonial-content p{
    font-size: 12px;
  }
  .owl-carousel .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
   
  }
  .brand-mobile {

    margin: 0 auto;
  }
  .brand-title p img {
      width: 10%;
  }
  .brand-title p {
    font-size: 14px !important;
 }
  .basel-hover-alt.product-type-external .wrapp-swap, .basel-hover-alt.product-type-grouped .wrapp-swap, .basel-hover-alt.purchasable .wrapp-swap{
    height: auto !important; 
  }
  ul.fd1.menu li,ul.fd2.menu li {
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
  }
  ul.fd2.menu li a p{
    display: inline;
  }
  .suntory-sidebar-container{
    display: none;
  }
  .suntory-sale-products .product-grid-item{
    border: 0 !important;
  }
  .content.single-product-content-wrapper p, .content.single-product-content-wrapper span {
      font-size: 12px !important;
      margin: 0;
  }
  .testimonial-content:before{
    display: none;
  }
  .sticky-header.act-scroll i{
    color: #000;
  }
  .act-scroll .mobile-nav-icon .basel-burger,.act-scroll .mobile-nav-icon .basel-burger::after,.act-scroll .mobile-nav-icon .basel-burger::before{
    background-color: #000;
  }
  .chinhanh-wrapper{
    display: none;
  }
  .cn-item-wrapper {
    display: none !important;
  }
  .sticky-header .act-scroll{
     background: #fff !important;
  }
  .address-footer {
    width: 100% !important;
    display: none !important;
  }
  .logo-wrapper img {
    width: 35%;
    margin: 10px !important;
  }
  #register-event>div.col-sm-4 {
    margin-top: 20px;
  }
  .hidden-mobile {
    display: none;
  }
  .list-item {
    width: auto;
  }
  .sticky-sidebar-single-woo {
    display: none;
  }
  .list-item-left {
    width: 10%
  }
  .home .site-content .container>.row {
    margin: 0;
  }
  .right-column .shopping-cart{
    padding:0;
  }
  .main-header .right-column{
    width: 33%;
  }
  .mobile-nav-icon {
    display: table-cell !important;
    width: 33% !important;
  }
  .mobile-nav-icon {
    padding-left: 0 !important;
    text-align: left !important;
  }
  .basel-logo-wrap {
    display: table-cell !important;
    width: 33% !important;
    text-align: center !important;
   
  }
 
  .act-scroll .site-logo {
    width: 66% !important;
  }
  .act-scroll .site-logo img,
  .header-clone .site-logo img {
    max-width: none !important;
    width: auto !important;
    max-height: 60px !important;
  }
  .custom-mobile {
    width: 66% !important;
  }
  .home-slider:hover .owl-nav>div.owl-next,
  .home-slider .owl-nav>div.owl-next {
    right: 40px;
  }
  .home-slider:hover .owl-nav>div.owl-prev,
  .home-slider .owl-nav>div.owl-prev {
    left: 40px;
  }
  .home-slider .owl-nav>div {
    background: none !important;
    box-shadow: none !important;
  }
  .brands_wrapper {
    margin: 30px 30px;
  }
  .brand-feature-nuty .item {
    width: 50% !important;
  }
  .box_description {
    width: 100% !important;
    font-size: 14px !important;
  }
  .suntory-show-sidebar-btn{
    display: block !important;
        font-size: 16px;
    font-weight: 700;
    color: #1B1919;
  }
  .offcanvas-sidebar-mobile .suntory-sidebar-container {
      position: fixed;
      width: 300px;
      top: 0;
      bottom: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
         overflow-y: scroll;
      background-color: #fff;
      z-index: 500;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      -webkit-transition: transform .25s ease;
      -webkit-transition: -webkit-transform .25s ease;
      transition: -webkit-transform .25s ease;
      transition: transform .25s ease;
      transition: transform .25s ease,-webkit-transform .25s ease;
      transform: translate3d(-300px,0,0);
      -webkit-transform: translate3d(-300px,0,0);
  }
  .offcanvas-sidebar-mobile .suntory-sidebar-container {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
  }
  .woodmart-close-sidebar-btn {
    display: block;
    padding: 15px 10px 25px 0;
    text-align: right;
    border-right: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
}

}

@media screen and (max-width:767px) {
   .mobile-footer {
    display: block !important;
   }
  .home .main-page-wrapper {
    padding-top: 0;
    margin-top: 0;
  }
  .mconfirm-payment-wrapper .woocommerce-form-login-toggle, .mconfirm-payment-wrapper .woocommerce-form-coupon-toggle{
    display: none;
  }
  .mobile-checkout-order-review tr.shipping > th{
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }
  header.suntory-mobile-custom-header {
    padding: 15px 0;
}
  .wrapp-header{
    min-height: unset !important;
  }
  body .sticky-header .suntory-sticky-search, body .sticky-header .header-categories, body .sticky-header .site-logo .header-contact {
      display: none !important;
  }
  .testimonials-section{
        margin: 80px 0 0 0 !important;
  }
  p.sun-gtmh-title, p.sun-gtmh-desc{color: #000;}
  .visible-mobile {
    display: inherit;
  }
  .navi-fixed {
    top: auto;
    bottom: 0;
    left: 0;
    width: auto;
  }
  .mini-navi {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 0;
    height: 52px;
  }
  .mini-navi>li {
    display: table-cell;
    width: 20%;
    font-size: 10px;
  }
  .mini-navi>li.visible-mobile {
    display: table-cell;
  }
  .mini-navi>li a {
    padding-top: 6px;
    padding-bottom: 4px;
  }
  .mini-navi>li a .mini-navi-title {
    white-space: nowrap;
  }
   .suntory-woo-menu-dropdown-account .inner {
    display: none;
  }
  .login-form-popup .menu-item-register .sub-menu-dropdown {
    opacity: 1;
    visibility: visible;
    transform: none;
    -webkit-transform: none;
    -webkit-transition: transform .25s ease, opacity .25s ease, visibility .25s ease;
    -webkit-transition: opacity .25s ease, visibility .25s ease, -webkit-transform .25s ease;
    transition: opacity .25s ease, visibility .25s ease, -webkit-transform .25s ease;
    transition: transform .25s ease, opacity .25s ease, visibility .25s ease;
    transition: transform .25s ease, opacity .25s ease, visibility .25s ease, -webkit-transform .25s ease;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    pointer-events: visible !important;
    z-index: 999 !important;
    position: fixed;
  }
  .menu-item-register .sub-menu-dropdown {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: transform 0s ease, opacity 0s ease, visibility 0s ease;
    -webkit-transition: opacity 0s ease, visibility 0s ease, -webkit-transform 0s ease;
    transition: opacity 0s ease, visibility 0s ease, -webkit-transform 0s ease;
    transition: transform 0s ease, opacity 0s ease, visibility 0s ease;
    transition: transform 0s ease, opacity 0s ease, visibility 0s ease, -webkit-transform 0s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .menu-item-register .login-dropdown-inner {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
  .menu-item-register .close-login-form {
    display: block;
  }
  .mobile-review-order #payment,
.mobile-review-order>p {
  display: none;
}

.mobile-checkout-order-review {
  padding: 0 !important
}

.mconfirm-payment-wrapper .col-sm-6 {
  min-height: unset !important;
  padding: 0 !important;
}

.mconfirm-payment-wrapper .woocommerce .row {
  margin: 0 !important
}

.mobile-review-order tr.shipping th {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.mconfirm-payment-wrapper>.woocommerce {
  border-bottom: 3px solid #f5f5f5;
  padding-bottom: 20px;
}

.card .header {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  padding: 0 16px;
  background: #fafafa;
  height: 48px;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  line-height: 48px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.card .content {
  padding: 5px 15px;
}

.mpayment-method-wrapper {
  padding: 15px 15px;
}

.wc_payment_methods label {
  display: inline-block;
}

.mpayment-method-wrapper #customer_details,
.mpayment-method-wrapper .shop_table {
  display: none;
}

.mpayment-method-wrapper #order_review_heading {
  display: none;
}

.mpayment-method-wrapper div#order_review>p {
  display: none;
}

.mpayment-method-wrapper .place-order {
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ebebeb;
  padding: 10px 8px;
  border-top: solid 1px #ebebeb;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 0 0 -30px;
  z-index: 999;
}

.mpayment-method-wrapper .woocommerce-checkout .checkout-order-review {
  background: transparent !important;
}

.mpayment-method-wrapper .row {
  margin: 0 !important
}

.payment-button,
.mpayment-method-wrapper .place-order button {
  width: 100%;
  background-color: #ed2190 !important;
  color: #fff !important;
  font-weight: bold;
}

.button-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ebebeb;
  padding: 10px 8px;
  border-top: solid 1px #ebebeb;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 0 0 -15px;
  z-index: 999;
}

body {
  background: #fff !important;
}

.address-section a.edit {
  position: absolute;
  right: 14px;
}

.address-section>p {
  margin: 0;
  display: none;
}

.address-section .woocommerce-Address-title {
  display: none;
}

.address-section {
  padding: 10px 15px;
}

.nav-checkout .line {
  border-top: dashed 1px #000;
  display: block;
  width: calc(100% - 100px);
  z-index: -1;
  top: 35%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.nav-checkout {
  display: table;
  width: 100%;
  position: relative;
  border-bottom: 4px solid #f5f5f5;
  padding-bottom: 20px;
}

.nav-checkout-inner {
  position: relative;
  display: table;
  width: 100%;
}

.nav-checkout center svg {
  width: 40px !important;
  height: 40px !important;
  background: #fff !important;
  margin-bottom: 5px;
}

.nav-checkout center {
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
}

.nav-checkout center.active svg {
  fill: #ed2190 !important;
}

.nav-checkout center.active {
  color: #ed2190 !important;
}

.woocommerce-cart footer,
.woocommerce-cart .navi-fixed {
  display: none !important;
}

.user-wrap {
  border-bottom: 4px solid #f5f5f5 !important;
  padding-bottom: 15px;
  margin: 0 -15px;
  padding-left: 15px;
}

.user-avatar {
  display: table-cell;
  width: 15%;
  vertical-align: middle;
}

.user-avatar img {
  width: 40px;
  border-radius: 25px;
}

.user-info {
  display: table-cell;
  vertical-align: middle;
  width: 90%;
  padding-left: 2%;
}

a.logout-btn {
  color: #eb278d;
  background: white;
  border: 1px solid;
  border-color: #eb278d;
  /* height: 44px; */
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}

nav.suntory-MyAccount-navigation .suntory-MyAccount-navigation-link {
  border-bottom: 4px solid #f5f5f5 !important;
  border-right: none !important;
  border-left: none !important;
}

li.suntory-MyAccount-navigation-link>a {
  padding: 15px 15px;
  display: block;
}

.suntory-MyAccount-navigation {
  margin: 0 -15px 15px -15px;
}

.woocommerce-checkout footer,
.woocommerce-checkout .navi-fixed {
  display: none !important;
}

.suntory-mobile-collaterals {
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ebebeb;
  padding: 10px 8px;
  border-top: solid 1px #ebebeb;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 0 0 -30px;
  z-index: 999;
}

body.woocommerce-cart {
  background: none !important;
}

.suntory-mobile-collaterals a.checkout-button.button.alt.wc-forward {
  width: 100%;
  background: #ed2190;
  color: #fff;
  font-weight: bold;
}

.cart_total>div {
  display: table-cell;
  vertical-align: middle;
}

.cart_total {
  display: table;
  width: 100%;
}

.cart_total_title {
  vertical-align: bottom !important;
}

.suntory-mobile-cart-coupon:before,
.suntory-mobile-cart-coupon:after {
  content: "";
  display: block;
  clear: both;
}

.suntory-mobile-cart-coupon {
  display: block !important;
  border-top: 4px solid #f5f5f5 !important;
  border-bottom: 4px solid #f5f5f5 !important;
  border-right: none !important;
  border-left: none !important;
  padding: 15px 30px !important;
  margin: 20px -30px !important;
}

.suntory-mobile-cart-coupon .input-text {
  width: 75% !important;
  display: block;
  float: left;
  vertical-align: middle;
  -webkit-appearance: button !important;
  height: auto !important;
  padding: 10px 10px !important;
}
.woocommerce .cart-actions input[type=submit] {
    padding: 10px 10px !important;
}
.suntory-mobile-cart-coupon .button {
  width: 20% !important;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 10px 0 !important;
}

.suntory-mobile-cart-coupon label {
  display: block !important;
  float: left;
  text-align: left;
}

.shop_table div.product-quantity .quantity .minus,
.shop_table div.product-quantity .quantity .plus {
  background-color: transparent;
  border: 1px solid #E0E0E0;
  background-color: transparent;
  color: #848484;
  width: 20px;
  background-color: #f9f9f9;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.shop_table div.product-quantity .quantity .minus {
  border-right: 0;
}

.shop_table div.product-quantity .quantity input[type=number] {
  color: #848484;
  text-align: center;
  width: 40px;
      height: 25px;
  padding-right: 10px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.shop_table div.product-quantity .quantity {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-align-items: stratch;
  -ms-flex-align: stratcht;
  align-items: stratch;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  white-space: nowrap;
}

table.shop_table.cart .product-info {
  text-align: left;
}

table.shop_table.cart .product-info .product-name {
  font-size: 12px;
  margin: 0 0 10px 0;
}

table.shop_table.cart .product-info .product-price {
  margin: 0 0 10px 0;
}

table.shop_table.cart .product-info a.remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}

tr.cart_item.suntory-cart-item .product-info {
  position: relative !important;
}

.tab_button_login_register {
    display: table;
    width: 100%;
    margin: 20px 0;
}
.tab_button_login_register > a {
    display: table-cell;
}
.tab_button_login_register > a {
    display: table-cell;
    background-color: #2f2f2f  !important;
    border: none;
    color: #fff;
    width: calc(100%/3);
    padding: 10px 0 5px 0;
    vertical-align: middle;
}
.tab_button_login_register > a.active{
  background-color: #ed2190 !important;
  
}

.mobile_customer_details {
    padding: 25px 15px;
}

.morder-received-wrapper p {
    letter-spacing: 0 !important;
    line-height: 21px !important;
    font-size: 12px !important;
    padding: 0 15px !important;
    background: transparent !important;
        margin-bottom: 10px !important;
        color: #757575;
}

.morder-received-wrapper p.section-info:before {
    margin-left: -16px;
    content: "â—";
    padding-right: 8px;
    color: #fd820a;
}

.morder-received-wrapper p.section-info-title{
  color: #000 !important;
  font-size: 14px !important;
}

ul.sun-bacs-bank-details.order_details.bacs_details li {
    font-size: 12px;
    margin: 4px 0 0 20px;
}
p.sun-bacs-bank-details-heading {
    color: #000 !important;
}
.mbank-details {
    margin: 25px 0 0 0;
}

.woocommerce-checkout .sticky-header.suntory-mobile-custom-header .right-column,.woocommerce-checkout .sticky-header.suntory-mobile-custom-header .main-nav,
.woocommerce-account .sticky-header.suntory-mobile-custom-header .right-column,.woocommerce-account .sticky-header.suntory-mobile-custom-header .main-nav{
       color: transparent;
}
.sticky-header.suntory-mobile-custom-header{
  min-height: 60px;
}
.woocommerce-checkout .sticky-header.suntory-mobile-custom-header, .woocommerce-account .sticky-header.suntory-mobile-custom-header{
  background: #ed2190;

}

.woocommerce-checkout .sticky-header.suntory-mobile-custom-header>.container,.woocommerce-account .sticky-header.suntory-mobile-custom-header>.container{
  min-height: 60px;
}
.act-mobile-menu .mobile-nav{
  width: 320px;
}
.mobile-nav .nuty-account {
   margin-bottom: 0;
    margin-top: 0;
    background: #eb2a8e;
    padding: 10px 15px;
    display: block !important;
}
.mobile-nav .nuty-account a {
    color: #fff;
    line-height: 20px;
}
.nutyaccount-wrapper {
    background: #f1f1f1;
    text-align: center;
}
.mobile-nav .searchform {
    background: rgb(0, 0, 0) !important;
}

.mobile-order-list p{
  margin-bottom: 0px;
}
.mobile-order-list a.view {
    position: absolute;
    right: 15px;
    top: 15px;
}

.mobile-order-list {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 15px 15px;
    margin: 0 -15px;
}

.woocommerce-Pagination {
    margin: 15px 0;
}

.mobile-view-order-wrap {
    margin: 0 -15px;
}

.mobile-view-order-wrap > section{
    padding: 10px 0px;
}
.mobile-view-order-wrap .order_details tfoot th {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0 !important;
}
.admin-bar .cart-widget-side, .admin-bar .mobile-nav {
    top: 0;
}
.woocommerce .woocommerce-Address .edit, .woocommerce-page .woocommerce-Address .edit {
    font-size: 0;
}

h1.product_title.entry-title {
    font-size: 14px;
}

.single-product-content .single_variation_wrap .variations_button {
    display: flex !important;
}
div#qbutton{
  display: table-cell;
    width: 50%;
}

.single-product-content .single_variation_wrap {
    display: table-cell;
   
}
.single-product-content .cart .quantity .plus,.single-product-content .cart .quantity .minus {
    border-left: 0;
    display: none;
}
button#suntory_variation_add_to_cart{
   padding: 1% 18px;
    width: 45%;
    font-size: 12px;
    height: 35px;
}
.single-product-content .variations .swatches-select .swatch-size-default{
  width: 25px !important;
  height: 25px !important;
}

button#suntory_add_to_cart {
    width: 40%;
    font-size: 12px;
    height: 35px;
    vertical-align: middle;
}
.single-product-content .cart .quantity input[type=number]{
  width: 35px !important;
    margin-right: 0px;
    height: 35px;
}
.single-product-meta-wrapper {
    padding: 0 15px 0 15px;
}
div#qbutton {
    display: flex;
    width: 50%;
    float: left;
    margin-top: 0;
}

.single-product-content .single_variation_wrap {
    display: block;
 
    float: none;
    /* justify-content: center; */
    padding-top: 0;
}
a.reset_variations {
    display: none !important;
}
.sbutton .buyinstall{
  font-size: 10px !important;
  height: 35px;
}
.single-product-content .variations .swatches-select>div {
    margin-right: 10px !important;
    margin-bottom: 0;
}
.single-product-content .variations td.value {
    width: auto !important;
}
td.action_popup_swatch {
    text-align: right !important;
}

.popup_swatch {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 14;
    right: 0;
    padding: 75px 0 0 0;
}

.popup_swatch .swatches-select{
  display: table;
  padding: 0 15px;
}
.popup_swatch .basel-swatch {
    width: 100%;
    height: 100%;
    display: block;
}

.popup_swatch .swatches-item {
    width: calc(360px/4);
    height: calc(360px/4);
        margin: 0 10px 25px 10px;
    text-align: center;
    float: left;
    /* color: #fff; */
    vertical-align: middle;
    font-size: 12px;
    line-height: 20px;
    border: 2px solid #dddd;
    padding: 5px;
    cursor: pointer;
}
.product-info {
    border-bottom: 1px solid #ddd;
}
.swatches-item.active-swatch {
    border: 2px solid red;
    padding: 5px;
}
.popup_swatch .swatches-item.selected {
    border: 1px solid red;
}
.single-product-content .product-tabs-wrapper{
  background: #fff !important;
  border: 0;
      padding: 10px 0 40px 0;
}
.product-design-alt .product_meta {
    padding: 0 !important;
    background-color: #fff !important;
}
.single-product-content .product_meta>span {
    display: block !important;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}
.single-product-content .product_meta>span:last-child {
  border:none !important;
    
}
.call-order{
   text-align: center;
    border-top: 0;
    margin: 10px 0px 0 0px;
    padding: 0;
}
.single-product-content .single_variation_wrap,.woocommerce-variation-add-to-cart {
    width: 100% !important;
}
.quick-buy-button{
  height: 35px;
  font-size: 13px;
  margin-left: 5px;
  width: 45%;
      vertical-align: middle;
}
.single-product-content .variations label {
    width: auto;
    margin: 0;
}

.single-product-content  .entry-summary {
    margin: 0 -10px;
    padding: 0;
}

.single-product-content  .entry-summary .summary-inner > h1 ,
.single-product-content  .entry-summary .summary-inner > p.price{
  padding: 0 15px;
}
.single-product-content  .entry-summary .summary-inner > form.cart{
  padding: 15px 10px !important;
}

.apply_swatches_button_wrap.button-wrapper > button {
    width: 100%;
    background: #ec268f;
    color: #fff;
    font-weight: bold;
}

.apply_swatches_button_wrap.button-wrapper {
    margin: 0;
}


.single-product-content form.suntory-single-product-cart-fixed {
    z-index: 9;
    left: 0;
    bottom: 0;
    position: fixed;
    display: block;
    width: 100%;
    background: #fff;
    margin: 0 0!important;
    box-shadow: 0px 2px 6px rgb(235, 39, 141);
}
.sticky-header .right-column{
   width: 33%;
}

}


@media(max-width:480px) {
 .page-template-templates-checkout .main-page-wrapper,.page-template-templates-account .main-page-wrapper  {
    padding-top: 0;
    margin-top: 0;
  }  
  .deal-status{
    margin: 0 !important;
  }
  .product-design-alt .single_variation .price {
    vertical-align: bottom;
    font-size: 13px;
    font-weight: bold;
}
  .single-product-content p.price {
    font-size: 13px !important;
    font-weight: bold;
  }
  .right-column .shopping-cart {
    border-right: 0;
    border-left: 0;
  }
  .sticky-header.act-scroll {
     
  }
  .home-slider .slide-item {
    background: none !important;
    height: auto !important;
  }
  .list-item .list-item-right {
    padding: 10px 0px 0 0;
    width: 68%;
  }
  .list-item-left {
    width: 15%
  }
  p.sun-gtmh-title,
  p.sun-gtmh-desc {
    font-size: 12px
  }
  .brand-mobile {
    display: block !important;
  }
  .chinhanh-item .cn-address::after,
  .chinhanh-item .cn-address::before {
    transition-delay: 0.4s;
    opacity: 1;
    transform: scale(1)
  }
  .cn-address {
    height: 100% !important;
  }
  .copyrights-wrapper {
    margin-top: 0px;
    padding-bottom: 60px;
  }
  .add-chinhanh-item .cn-content {
    margin-top: 10px;
  }
  .page-template-templates-contact .main-page-wrapper>div.container>div.row {
    margin: 0 -15px;
  }
  .showroom {
    margin-left: 0 !important;
  }
  .mobile-nav-icon {}
   h3.home-title4 {
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 16px;
  }
}

@media(max-width: 360px){
  .content.single-product-content-wrapper h2 {
      font-size: 17px;
  }
  .content.single-product-content-wrapper h2 {
      font-size: 16px;
  }
  .content.single-product-content-wrapper h2 {
      font-size: 17px;
  }
  .content.single-product-content-wrapper h2 {
      font-size: 16px;
  }
  .card .header{
    font-size: 12px;
  }
  h3.title.slider-title {
    font-size: 14px;
    margin: 0 0 25px 0;
    font-weight: bold;
  }
  .single-product-content .product-tabs-wrapper{
    padding-bottom: 0;
  }
  ul.call-support li h3{
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  button#suntory_add_to_cart {
    width: 40%;
  }
}

@media(min-width:1170px) {
  .mask_menu {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    z-index: 3;
    display: none;
  }
  .home-slider .owl-nav>div:before {
    font-size: 50px;
  }
}
@media(min-width: 992px) {
  .suntory-sale-products .product-grid-item{
    padding: 1px 1px;
  }
  body .vc_custom_1507951545843 {
    margin-top: 30px !important;
  }
  body .vc_custom_1507951446121 {
    margin-bottom: 20px !important;
  }

  .list-benifit-nuty {
    padding-left: 150px;
  }
  .home-slider:hover .owl-nav>div.owl-next,
  .home-slider .owl-nav>div.owl-next {
    right: 80px;
  }
  .home-slider:hover .owl-nav>div.owl-prev,
  .home-slider .owl-nav>div.owl-prev {
    left: 80px;
  }
}

@media(min-width:481px) {
  .home-slider .slide-item img {
    display: none !important;
  }
  .suntory-form-reg .register-or {
    display: none;
  }
  .suntory-form-reg {
    border-left: 1px solid #ddd;
    margin-top: 0 !important;
  }
}


/* add style */
.column {
  float: left;
  width: 33.33%;
  margin-top: 20px;
  color: #252222;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.column a {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
}

.column h4 {
  border-bottom: 1px #ddd solid;
}